doctype 5
html
  head
    title #{config.event.title} 微信墙 | powered by menkr wechat wall
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block footer
        #footer.fn-clear &copy; 2013 Powered by Menkr WechatWall 