body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.msg {
  font-size: 20px;
  font-weight: normal;
  color: #444;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
