@import url('./base.css');
h1 {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding: 14px 20px;
  background-color: #444;
  color: #fff;
  box-shadow: inset 0px 0px 12px #000;
}
.msg {
  font-size: 20px;
  font-weight: normal;
  color: #444;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  line-height: 1.5;
  margin-top: 0px;
}
#footer {
  text-align: right;
  font-size: 12px;
  color: #999;
  padding-right: 20px;
}
